.navBg{
    background-color: #1096C7;
}

.logo-bg{
    background-color: rgb(230, 230, 230);
    padding: 5px;
    border-radius: 50%;
}

.login-icon{
    background-color: white;
    /* width: 20px;
    height: 20px; */
    padding: 3px;
    border-radius: 50%;
}

.btn-sign-up{
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px 13px;
    color: white;
}