.meal{
    transition: 0.4s;
}
.meal:hover{
    box-shadow: rgba(100, 100, 111, 0.226) 0px 7px 29px 0px;
    border-radius: 10px;
}

.food img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}