.customer-service{
    background-color: #F7F7F7;
}

.bg-icon{
    background-color: #0690C5;
    height: 70px;
    width: 70px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

.customer-service h5{
    font-size: 18px;
}
.customer-service p{
    font-size: 14px;
    color: #8a8a8a;
}